* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.simpleCalculator {
    background-color: Teal;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "calculatorResults calculatorResults calculatorResults calculatorResults"
    "percent clearEverything clear delete"
    "seven eight nine mult"
    "four five six min"
    "one two three add"
    "plusMinus zero period equal";
    gap: 0.2rem;
}

#calculatorResults {
    grid-area: calculatorResults;
    padding:  2%;   
}

#calculatorResults input {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: larger;
    color: black;
    font-weight: bolder;  
}

.buttons {
    padding: 2%;
}

.buttons input {
    width: 90%;
    height: 90%;
    background-color: maroon;
    color: whitesmoke;
    margin-left: 20px;
    font-weight: bold;
    font-size: larger;
}