* {                                         /*sets initial setting for entire website.*/
    margin: 0;                              /*sets initial page margin at zero.*/
    padding: 0;                             /*sets initial page padding at zero.*/
    box-sizing: border-box;                 /*sets initial border and padding at 0 for display box on page.*/
    align-items: center;                    /*aligns items in the center of the page.*/
    overflow: hidden;                       /*hides overflow data showing in a textbox.*/
}

h1 {                                    /*styling of title of form.*/
    padding-top: 30px;                          /*places the text 50 pixels from the top.*/
    margin-bottom: 0;
    text-align: center;                     /*centers the text on the page.*/
    text-shadow: 2px 2px 2px teal;
    font-weight: bold;                      /*bolds the text*/
    font-style: italic;                     /*italicizes the text.*/
    font-size: 40px;                        /*set the font size to 40 pixels in height.*/
    
}

h2 {                                        /*styling of title of form.*/
    margin-top: 0;
    padding: 10px;                          /*places the text 50 pixels from the top.*/
    text-align: center;                     /*centers the text on the page.*/
    text-shadow: 2px 2px 2px teal;
    font-weight: bold;                      /*bolds the text*/
    font-style: italic;                     /*italicizes the text.*/
    font-size: 40px;                        /*set the font size to 40 pixels in height.*/
}

#travelFormContainer {                     /*styling of the main conatiner box of passenger information*/
    padding: 20px;                         /*padding around the container is spaced at 20 pixels between edge of main viewing space and the passenger form.*/
    border: 2px solid black;             /*gives a solid black border with a thickness of 2 pixels.*/
    background-color: teal;              /*sets the background color to teal*/  
    margin: 10px 20px 10px 20px;            /*margin starting at top and goes clockwise*/
    height: 750px;                          /*sets size of viewing area to a height of 750 pixels.*/
    text-align: center;                     /*centers the text.*/
    text-shadow: 2px 2px 2px burlywood;  /*puts a shadow behind the main text and assigns the corresponding color to it.*/
    font-size: 40px;                        /*sets the height of the font.*/

}

.passengerDetails {
    margin-bottom: 20px;                    /*sets a spacing between the number of passengers text and the travelFromContainer box to 20 pixels.*/
}

#passengerForm {                              /*sets up the inner display area for the passenger data to be shown.*/
    border: 1.5px solid  black;             /*set a solid black border with a thickness of 1.5 pixels*/
    background-color: burlywood;            /*sets the background color to burlywood. better viewability - aesthetics.*/
    height:  650px;                           /*sets height of the passengerFrom box to 650 pixels.*/
    font-size: 22px;                          /*sets the height of the font to 22 pixels.*/
}

#passengerCount {                            /*sets the display box for the passenger information dropdown menu.*/
    text-align: center;                      /*centers the text in the dropdown menu box.*/
    font-size: 20px;                         /*sets the height of the text to 20 pixels in the dropdown menu box.*/
    border-radius: 10px;                     /*give rounded corners to the dropdown menu box.*/
    border: 3px solid burlywood;            /*assigns a border that is 3 pixels in thickness and a solid line with the color of burlywood.*/
}

.input {                                        /*sets up the input boxes*/
    text-align: center;                         /*centers the input boxes*/
     margin-top: 30px;          
     margin-bottom: 25px;
     font-size: 20px;                           /*sets the font size*/
     font-style: italic;                        /*italicizes the font.*/                       
     font-weight: lighter;                      /*lightens the color of the font.*/
}

.input-field {
    margin: 10px;                               /*sets the margin to 10 pixels for the input field.*/
    background-color: whitesmoke;             /*textbox color */
    border-radius: 5px;                         /*sets textbox corner radius*/
}


