:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/*sets the styling for the body of the page.*/
body {
  /*margin: 0;*/
  display: flex;        /*allows the body of the page to change automatically.*/
  place-items: center;  /*places items on page in the center.*/  
  min-width: 320px;     /*sets the minimum width of the body to 320 pixels.*/ 
  min-height: 100vh;
  background-color: teal;
  color: antiquewhite;
  background-image: url(./public/images/TosspiLogo2.jpg);
  background-repeat: no-repeat; /*the background image does not repeat in the body.*/
  background-position: right 42%;  /*places image at 42% of the background height.*/
}


/*changes the title color and font size of the main section.*/
.main--title {
  font-size: 48px;
  line-height: 2.1rem;
  color: antiquewhite;
}

.main--h1 {
  font-size: 60px;
}

/*puts spacing between listed items.*/
.main--facts > li {
  line-height: 8px;
  padding-block: 10px;
}

/*changes font size and bullets color.*/
.main--facts > li::marker {
  font-size: 1.2rem;
  color: yellow;
}

/*sets the styling of the button*/
button {
  border-radius: 8px;
  border: 5px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/*when mouse hovers over button border color changes to orange.*/
button:hover {
  border-color: orange;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
