* {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    overflow: auto;
}

body {
    background-color: teal;       /*sets the background of the page to teal*/
}

h1 {
    margin-top: 25px;               /*sets a marging from top to 25 pixels.*/
    text-align: center;             /*centers the h1 on the page*/
}

h2 {
    margin: .3rem;
    padding: .1rem;
    margin-left: 1rem;
    text-align: left;               /*aligns text on the left*/
}

form {
    Margin: 40px;
    text-align: center;
    min-height: 3vh;
}

form input {
    background-color: bisque;
    font-size: 1rem;                    /*rem is root element and 16px*/
    padding: .4rem;                     /* 4 pixels*/
    color: black;
    border: 1.5px solid;
    justify-content: center;
    width: 110px;
}

form button{
    background-color: bisque;
    font-size: 1rem;                    /*rem is root element and 16px*/
    padding: .4rem;                     /* 4 pixels*/
    color: black;
    border: 1.5px solid;
    justify-content: center;
    width: 200px;
}

form button:hover {
    background-color: bisque;
    color: black;
}

button {
    margin: 1rem;
    background-color: bisque;
    color: black;
    text-align: center;
    justify-content: center;
    border: none;
    width: 40px;
}

.completed {
    text-decoration: line-through;
  }
  