html, body {
    margin: 0px;              /* sets the default margin for page to be at 0. */
    padding: 0px;             /* sets the default padding of the page to be at 0. */
    font-family: sans-serif;  /* sets the text to be sans-serif. */
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*give 3 columns and automatically sets each box equally (1fr)*/
    /*grid-gap: 1px;*/              /*places a gap between the boxes */
    /*grid-template-columns: repeat(6, 100px);*/   /*grid template with 6 rows and boxes are 100px high each*/
    /*grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));*/ /*auto fits the boxes in a row*/
}

#grid-container > div {
    border: 1px solid black;        /*assigns a border of specified pixes in thickness with a solid black line to each box.*/
    display: flex;
    justify-content: center;          /*assigns the content of each box to be centered*/ 
    font-size: 20px;                  /*assigns the text in each box to be 20 pixels. */
}

/*  assignment is to swap grids around
    9 - 1 : reversing them
    swap 4 for 6
    swap 7 - 3 
    swap 7 - 2 */

#box1 {
    background-color: blue;
    grid-column: 2 / 1;
    grid-row: 1 / 1;
}

#box2 {
    background-color: red;
}

#box3 {
    background-color: yellow;
}

#box4 {
    background-color: green;
}

#box5 {
    background-color: purple;
}

#box6 {
    background-color: grey;
}

#box7 {
    background-color: teal;
}

#box8 {
    background-color: violet;
}

#box9 {
    background-color: orange;
}