body {
    background-color: tan;
}

nav {
    display: flex;                    /* automatically adjusts the viewing alignment such as rows as columns on the page for the display screen. */
    justify-content: space-between;   /* defines how the display adjusts or distributes spacing around the contents in the nav bar. */
    align-items: center;              /* centers the items in the nav bar. */
    height: 110px;                     /* assigns the height of the nav bar to 60 pixels. */
    background-color: whitesmoke;        /* assigns the color black to fill the nav bar. */
    color: Blue;                   /* text color. */
    padding: 0 5px;                   /* 0 padding at the top and bottom and 5 pixels on both sides. */
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {                           /* assigns img to the logo class. */
  /*position: left;                     /* places the logo image to the far left side of the nav bar and makes it 40 pixels high and 100 pixes wide. */
  height: 100px;
  width: 100px;
}
  
.mpcContainer {
    flex-grow: 1;               /*allows container to expand and fill remaining space.*/
    text-align: center;         /*centers text*/
    font-size: 60px;
}

.BaddiesContainer {       
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 70px auto;
    border: 4px solid red; background-color: whitesmoke   ;
    height: 520px;
    width: 800px;
}

.BaddiesContainer img {
    margin: 10px;
    height: 120px;
    width: auto;
    border: 3px solid blue;
}

.baddieItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baddieItem img {
    margin-top: 30px;
    height: 125px;
    width: 125px;
}

.baddieItem span {
    text-align: center;
}

.boboombsValueCost {
    width: 30px;
}

.cheepCheepsValueCost {
    width: 30px;
}

.goombaValueCost {
    width: 30px;
}

.totalCaughtInput {
    width: 30px;
}

.totalAmountOwed {
    width: 30px;
}

.invoiceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 2px solid black;
    padding: 20px;
    background-color: whitesmoke;
    width: 500px;
}

.invoiceContainer h2 {
    margin-bottom: 10px;
}

.invoiceContainer .baddieItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.invoiceContainer .baddieItem input {
    width: 50px;
    margin-right: 10px;
}

.invoiceContainer .totalItem  {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.invoiceContainer button {
    margin-top: 10px;
}

.totalBaddies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    grid-column: 1/4;
    
}

.totalBaddies p {
    margin-bottom: 10px;
}

.totalBaddies button {
    margin-top: 10px;
    background-color: blue;
    border: 5px solid red;
    color: whitesmoke;
    margin: 25px;
    width: 150px;
}

#tBaddiesCaught {
    width: 40px;
}


.footer {
    background-color: red;
    border-top: 2px solid blue; 
    border-bottom: 2px solid blue;
    color: blue;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    left: 0;
    bottom: 5px;                   /*sets the bottom of the footer 10 pixels up from the edge.*/                      
    width: 100%;                    /*footer displays across entire display*/
}

.footer a {
    text-decoration: none;  /*removes links from all items in footer.*/
    color: white;
}

.footer.hover {
    text-decoration: underline; /*add underline on hover for links in footer.*/
}