/* video on editing site https://www.youtube.com/watch?v=DEag8l7GcCE */
/* course on website development: https://www.udemy.com/course/responsive-website-template-from-scratch-html-css/ */

body{
    background-color: teal;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
height: 60px;
background-color: black;
color: white;
padding: 0 5px;
}

.logo img{
    position: left;
    height: 40px;
    width: 100px;
}

.search form {
    display: flex;
    align-items: center;
}

.search select {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 8px;
    background-color: teal;
    color: white;
}

.search input[type="text"] {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 8px;
}

.search button[type="Submit"] {
    height: 30px;
    padding: 0 10px;
    background-color: teal;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nav-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.nav-links a.active {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
}